html{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    font-family: "Avenir", "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 13px;
    padding: 0px;
}
.pageHeadTable{
    /*width:800px;*/
    width:100%;
    margin:0px;
    padding:0px;
}

#leftLoginLogout{
    width: 200px;
    height: 92px;
    padding-top:85px;
}
#rightLoginLogout{
    width: 200px;
    height: 92px;
    text-align: right;
    padding-top:85px;
}
#pageMiddle{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}
/*Everything besides the picture in status*/
.statusData{
    margin-left:60px;
    margin-top:0px;
    padding-top:2px;
    margin-right:7px;
    min-height:70px;
    font-size: 12px;
    word-wrap:break-word;
}
.statusDateAndDelete{
    float:right;
    color:#696969;
    font-size: 10px;
}
.statusAuthor{
    color: black;
    text-decoration: none;
    font-weight: bold;
}.statusAuthor:visited{
    color:black;
    text-decoration: none;
    font-weight: bold;
}.statusAuthor:hover{
    color:black;
    text-decoration: none;
    font-weight: bold;
}.statusAuthor:active{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

/*index and user styling*/
a{text-decoration: none;}
textarea#statustext{
    width:96%; 
    height:140px; 
    border:none;
    font-size:20px; 
    resize:none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:2%;
}
div.status_boxes{
    padding-top:5px; 
    line-height:1.3em;
}
div.status_boxes > div{
    padding-top: 1px; 
    border-bottom:lightgrey 1px solid;  
}
div.status_boxes > button{
    padding:1.5px; 
    font-size:10px;
}
div.reply_boxes{
    background: rgba(98,200,236, .5);
}
textarea.replytext{
    width:96%; 
    height:140px; 
    border:none;
    font-size:20px; 
    resize:none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:2%;
}
.imfinna{font-size:11px;}
.replyStatus{font-size:7px; float:right;}

.userpics{
    width:47px; 
    height:47px; 
    margin:2px; 
    border-radius:;
}
.userpostpics{
    width:45px; 
    height:45px; 
    border-radius: 95%; 
    margin:5px; 
    float:left; 
    margin-left: 7px;
    margin-top: 4px;
}

/*user page styling*/
div#profile_pic_box{margin-right: auto; margin-left: auto;margin-top:20px; border-radius: 7px; border:rgb(98,200,236) 1px solid; width:70px; height:70px; overflow-x:hidden; overflow-y:hidden;}
div#profile_pic_box > img{z-index:2000; width:72px; height:72px;}

.statusbutts {
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
    background: rgb(98,200,236);
    border:none;
    color: white;
    border-radius:7px;
}
/*login */
#loginform{
    margin-top:24px; 
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
}
#loginform > div {
    margin-top: 10px;  
    margin-bottom: 7px;  
}
#loginform > input {
    width: 90%;
    padding: 3px;
    background: #F3F9DD;
    font-size: 16px;
    border-radius:14px;
    border:none;
    border-color: transparent;
    text-align: center;
}
#loginform > input:focus {
    outline:0px;
}
/*signup*/
#signupform{
    margin-top:8px;    
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#signupform > div {
    margin-top: 7px;
    margin-bottom: 7px;    
}
#signupform > input {
    padding: 7px;
    background: #F3F9DD;
    font-size: 16px;
    border-radius:14px;
    border:none;
    border-color: transparent;
    text-align: center;
}
#signupform > input:focus {
    outline:0px;
}
#phone1,#phone2,#phone3{
    width:24%;
}
#username,#pass1,#pass2{
    width:90%;
}
#nonFeedCrap{
    padding:7px;
    padding-bottom: 0px;
    border-bottom:rgb(98,200,236) 1px solid; 
}
.note{
    margin: 0px;
    padding:7px;
    border-bottom:rgb(98,200,236) 1px solid; 
}
.oldNote{
    background:rgb(225,225,225);
}

/*Edit prof shib*/

.editprofile {
    margin: 7px;
}

.editheader {
    color: rgb(98,200,236);
}
.edittextbox {
    background-color:transparent;
    outline:none;
    box-shadow:0px;
    border: 0px none;
    font-size:20px;
}
.editicons {
    width:25px;
}

/* .checkboxes */
.chexbox {
  width: 30px;
  position: relative;
  margin-top: 10px;
  margin-right: 7px;
}
.chexbox label {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 7px;
  border: 2px solid rgb(98,200,236);
}
.chexbox label:after {
  content: '';
  width: 18px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 5px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.chexbox input[type=checkbox] {
  visibility: hidden;
}
.chexbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.chexbox input[type=checkbox]:checked + label {
    background: rgb(98,200,236);
}
/* end .chexboxes */
#sendButton{
    height:60px;
    background: rgb(98,200,236);
    width:100%;
    margin: 0px;
    border: none;
    outline: none;
    position: fixed;
    bottom:-6px;
}
.sendem{
    height:50px;
    background: rgb(98,200,236);
    width:100%;
}
#sendText{
    padding:15px;
    float: left;
    color: white;
    font-size: 16px;
}
#sendgif{
    width:88px;
    height:50px;
    float: right;
}
